.Notebook .notebook-step {
  margin: 32px 0;
}

.Notebook-nav {
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  width: 350px;
  padding: 24px;
  overflow-y: auto;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
}

.Notebook-content {
  padding: 8px 32px;
  margin-left: 350px;
}

@media screen and (max-width: 800px) {
  .Notebook-nav {
    display: none;
  }

  .Notebook-content {
    margin-left: 0;
  }
}
