@import '~antd/dist/antd.css';

body {
  background: #ffffff;
  overflow-x: hidden;
}

.App {
  margin-right: calc(100% - 100vw);
  padding-top: 40px;
}

.App .ant-tabs-nav {
  margin: 0;
  position: fixed;
  background: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.App-empty {
  margin-top: 64px;
}
