.ColumnSelectionStep-columns {
  border-collapse: collapse;
}

.ColumnSelectionStep-columns tr {
  border: 1px solid #f0f0f0;
}

.ColumnSelectionStep-columns thead th {
  padding: 8px;
}

.ColumnSelectionStep-column-name {
  min-width: 200px;
  padding: 8px 16px;
}

.ColumnSelectionStep-column-switch {
  padding: 8px 16px;
  text-align: center;
}

.ColumnSelectionStep-column-generalization {
  padding: 0;
}

.ColumnSelectionStep .GeneralizationControls {
  margin-left: 16px;
}

.ColumnSelectionStep .GeneralizationControls label {
  min-width: 120px;
}

.ColumnSelectionStep-reserved-space {
  min-height: 700px;
}
