.AnonymizationSummary-descriptions {
  max-width: 780px;
}

.AnonymizationSummary .AnonymizationSummary-descriptions .ant-descriptions-view > table {
  table-layout: fixed;
}

.AnonymizationResults-export-button {
  margin: 32px 0;
}

.AnonymizationExport-reserved-space {
  min-height: 400px;
}

.AnonymizationSummary.loading {
  text-align: center;
}
